* {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova", -apple-system, "Helvetica Neue", helvetica, roboto, arial, sans-serif
}
nav {
  background-color: #FFF159;
  display: flex;

}

.nav-desktop {
  display: none;
}

.nav-mobile {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  height: 37px;
  width: 100%;
  align-items: center;
  gap: 20px;
}

#buscador-mobile {
  border-radius: 2px;
  border: 0;
  height: 100%;
  width: 100%;
  max-width: 600px;
}

#logo {
  display: flex;
  width: 40px;
  height: 40px;
  background-image: url(https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.10.0/mercadolibre/logo__small@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  margin-left: 2px;
  margin-top: 10px;
}
header{
  width: 100%;
  height: 250px;
  background: linear-gradient(to bottom, #fff159 50%, transparent);
  display: flex;
  justify-content: center;
}

.anuncio > img{
  margin: 0 15px;
  border-radius: 7px;
  background-size: cover;
}

.seccion{
  width: 100%;
  background-color: #EBEBEB;
  display: flex;
  flex-direction: column;
}

.seccion > div{
  margin-left: 15px;
  margin-top: 15px;
}

#circulos{
  display: flex;
  gap: 25px;
}

#circulos > div{
  margin-top: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFFFFF
  
}
#titulos{
  display: flex;
  gap: 25px;
}
.seccion > div > p {
  font-size: small;
  color: grey;
}

/* responsive */
@media only screen and (min-width: 721px) {
  .nav-desktop{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    flex-direction: column;
    background-color: #FFE600;
  }

  #arriba{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    justify-content: space-between;
    padding: 0 90px;
  }
  #buscador-desktop{
    border-radius: 3px;
    border: 0;
    height: 30px;
    
  }
  #abajo{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    justify-content: space-between;
    margin: 0 90px 0 90px;
  }
  #abajo > div{
    display: flex;
    gap: 5px;
  }
  .nav-mobile{
    display: none;
  }
}
