* {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova", -apple-system, "Helvetica Neue", helvetica, roboto, arial, sans-serif
}

.nav-desktop {
  display: none;
}

.header-desktop{
  display: none;
}

nav {
  background-color: #FFF159;
  display: flex;
}


.nav-mobile {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contenedor-search{
  display: flex;
  width: 100%;
}

#lupa{
  width: 35px;
  border: 0;
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0.10, 0.10, 0.10);
  color: black !important;
}

#buscador-mobile {
  border-radius: 2px;
  border: 0;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10);
  padding: 8px 120px 8px 0;
  background-color: #FFFFFF;
  font-family: arial, sans-serif;
}

#logo {
  display: flex;
  width: 40px;
  height: 40px;
  background-image: url(https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.10.0/mercadolibre/logo__small@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  margin-left: 2px;
  margin-top: 10px;
}

.header-mobile{
  width: 100%;
  background: linear-gradient(to bottom, #fff159 50%, #EBEBEB);
  display: flex;
  justify-content: center;
}

#contenedor-anuncio{
  margin: 15px;
  max-width: 721px;
}

.anuncio{
  width: 100%;
  border-radius: 7px;  
}

.anuncio > img{
  border-radius: 7px;
  margin: 5px;
}

.seccion-mobile{
  width: 100%;
  background-color: #EBEBEB;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.seccion-mobile > div{
  display: flex;
  flex-direction: column;
  align-items: center;;
}

.seccion-mobile > div > div{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.10);
}

#circulos{
  display: flex;
  gap: 25px;
}

#circulos > div > div{
  margin-top: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFFFFF
}

#titulos{
  display: flex;
  gap: 25px;
}

.seccion-mobile > div > p {
  font-size: small;
  color: grey;
}

/* responsive */
@media only screen and (min-width: 721px) {
  .nav-desktop{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FFE600;
    padding: 10px 90px;
  }

  #arriba{
    display: flex;
  }

  .categorias, .historial, .tiendas, .ofertas, .vender, .ayuda, .crear-cuenta, .ingresar, .mis-compras{
    line-height: 18px;
    font-size: 14px;
  }

  .caja{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #buscador-desktop{
    border-radius: 3px;
    border: 0;
    width: 60%;
    padding: 15px 70px 15px 20px;
    text-align: left;
  }

  #abajo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 230px;
  }

  #abajo > div{
    display: flex;
    gap: 5px;
  }

  .header-desktop > div{
    background-image: url(https://http2.mlstatic.com/D_NQ_661423-MLA107597114699_022026-OO.webp);
  }


  .nav-mobile{
    display: none;
  }

  .header-mobile{
    display: none;
  }
  .seccion-mobile{
    display: none;
  }
}
